$darkColor: #2f2d52;
$stormcloud: #4f6367;
$weldonblue: #7a9e9f;
$columbablue: #b8d8d8;
$beige: #eef5db;
$sunset: #fe5f55;

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$fontJosefin: 'Josefin Sans', sans-serif;


@mixin mobile {
    @media screen and (max-width: 500px) {
        @content;
    }
}


@mixin tablet {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 500px) {
        @content;
    }
}

body {
    font-family: $fontJosefin;
}

// REGISTER AND LOGIN PAGE
.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        @include mobile {
            padding: 30px 30px;
        }

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #a7bcff;
                color: white;
                padding: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }

            span {
                color: $sunset;
                text-align: center;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 12px;
                cursor: pointer;

                img {
                    width: 32px;
                }
            }
        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
            text-align: center;
        }
    }
}

// REGISTER AND LOGIN PAGE


.home {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        box-shadow: $shadow;

        @include mobile {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            background-color: #3e3c61;
            position: relative;

            @include mobile {
                &.isOpen {

                    width: 60%;

                    .arrow {
                        rotate: 180deg;
                    }
                }

                &.isClose {
                    flex: .5;

                    .navbar {
                        span {
                            display: none;
                        }
                    }

                    .search {
                        display: none;
                    }

                    .userChat {
                        .userChatInfo {
                            display: none;
                        }

                        img {
                            width: 45px;
                            height: 45px;
                        }
                    }

                    .arrow {
                        right: 0;
                    }
                }
            }

            .arrow {
                display: none;

                @include mobile {
                    display: flex;
                    position: absolute;
                    right: 10px;
                    top: 5%;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $darkColor;
                color: #ddddf7;
                height: 50px;
                padding: 10px;

                .logo {
                    font-size: 24px;
                    font-weight: bold;

                    @include mobile {
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        background-color: #ddddf7;
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        padding: 5px 10px;
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        font-size: 10px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;

                        @include mobile {
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }

            }

            .search {
                border-bottom: 1px solid gray;

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        color: #ddddf7;
                        outline: none;

                        &::placeholder {
                            color: #ddddf7;
                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #ddddf7;
                cursor: pointer;

                &:hover {
                    background-color: $darkColor;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        opacity: .8;
                        margin: 0;
                    }
                }
            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: #ddddf7;
            }

            .chatIcons {
                display: flex;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }
            }

            .messages {
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: $darkColor;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    span {
                        font-size: 12px;
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 10px 10px 10px 0px;
                            max-width: max-content;
                            margin: 0;
                        }

                        img {
                            width: 50%;

                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                        }

                        p {
                            background-color: #8da4f1;
                            color: white;
                            border-radius: 10px 10px 0px 10px;
                        }
                    }
                }
            }

            .input {
                background-color: white;
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $darkColor;
                    font-size: clamp(12px, 2.5vw, 18px);

                    &::placeholder {
                        color: #ddddf7;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    img {
                        height: clamp(20px, 2.5vw, 24px);
                        cursor: pointer;
                    }

                    button {
                        border: none;
                        padding: 10px 15px;
                        color: #ddddf7;
                        background-color: #8da4f1;
                        font-weight: bold;
                        border-radius: 10px;
                        box-shadow: $shadow;
                    }
                }
            }
        }
    }
}